# =========================
# ENV FILES
# =========================
.env
*.env

backend/.env
frontend-web/.env
app_tablet/.env

# =========================
# DATABASE
# =========================
database/

# =========================
# BACKEND (GO)
# =========================
backend/warehouse-backend.exe
backend/warehouse-backend-linux

*.exe
*.dll
*.so
*.dylib

# Go build cache
backend/bin/
backend/build/

# =========================
# FRONTEND (REACT/VITE)
# =========================
frontend-web/node_modules/
frontend-web/dist/
frontend-web/.cache/

# =========================
# FLUTTER
# =========================
app_tablet/build/
app_tablet/.dart_tool/
app_tablet/.flutter-plugins
app_tablet/.flutter-plugins-dependencies
app_tablet/.packages
app_tablet/.pub-cache/
app_tablet/.pub/

# Flutter generated
app_tablet/.metadata

# =========================
# ANDROID
# =========================
app_tablet/android/.gradle/
app_tablet/android/.kotlin/
app_tablet/android/local.properties
app_tablet/android/*.iml

# =========================
# IOS
# =========================
app_tablet/ios/Pods/
app_tablet/ios/.symlinks/

# =========================
# IDE
# =========================
.vscode/
.idea/

*.iml

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP FILES
# =========================
tmp/
temp/
*.tmp


# Markdown
*.md